# scala
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp/

# IDEA stuff
.idea/

# Scala native
lowered.hnir

# artifact
cli/.native/kcrypt

# node stuff
node_modules/
package-lock.json

# dotty site
_site
